.App {
  text-align: center;
}

.board {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.header {
  font-size: 24px;
  background-color: rgb(212, 103, 103);
  color: #fff;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
